<div class="container">
  <div class="d-block text-right mb-2 create-user align-center">
    <i class="material-icons cursor-pointer"
      (click)="receiveSettingEmitted()">control_point</i>
  </div>
  <app-table [data]="users" [settings]="true" (eventOutput)="receiveSettingEmitted($event)"></app-table>
</div>

<ngx-spinner bdColor="rgba(46, 26, 70,1)" size="large" color="#f9dc00" type="ball-zig-zag-deflect"></ngx-spinner>

<ngx-smart-modal #createEdit identifier="createEdit">
  <form [formGroup]="formGroupUser" class="align-center pt-2 pb-2">

    <label class="d-block fw-b">Name</label>
    <input type="text" class="d-block mb-2 pl-1 pr-1" formControlName="name" />

    <label class="d-block fw-b">Email</label>
    <input type="text" class="d-block mb-2 pl-1 pr-1" formControlName="email" />

    <label class="d-block fw-b">CPF</label>
    <input type="text" maxlength="11" class="d-block mb-2 pl-1 pr-1" formControlName="cpf" />

    <input *ngIf="createEdit.getData() === actionCrud.Create" [disabled]="!formGroupUser.valid"
      class="align-center mb-2 button cursor-pointer" type="submit" value="Cadastrar" (click)="insertUser()" />
    <input *ngIf="createEdit.getData() === actionCrud.Edit" [disabled]="!formGroupUser.valid"
      class="align-center mb-2 button cursor-pointer" type="submit" value="Atualizar" (click)="updateUser()" />
  </form>
</ngx-smart-modal>

<ngx-smart-modal #delete identifier="delete">
  <h2 class="text-center">Confirme a exclusão</h2>
  <div class="d-block text-center">
    <button class="m-2 button cursor-pointer" (click)="delete.close()">Cancelar</button>
    <button class="m-2 button danger cursor-pointer" (click)="deletetUser()">Confirmar</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #success identifier="success">
  <h2 class="success">Realizado com sucesso.</h2>
</ngx-smart-modal>

<ngx-smart-modal #fail identifier="fail">
  <h2 class="fail">Falhou, tente novamente mais tarde.</h2>
</ngx-smart-modal>
